.boton-verde{
    @include boton($verdePrimario, inline-block, $verdeSecundario);
}

.boton-verde-block{
    @include boton($verdePrimario, block, $verdeSecundario);
}

.boton-rojo-block {
    @include boton($rojoError, block);
    width: 100%;
}

.boton-amarillo-block {
    @include boton($amarillo, block);
    color: $negro;
}

.boton-amarillo {
    @include boton($amarillo, inline-block);
    color: $negro;
}

.boton-rosa {
    @include boton($rosa, inline-block);
}