@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');


// Fuentes
$fuentePrincipal: 'Nunito', sans-serif;
$fuenteSecundaria: 'Poppins', sans-serif;
// Grosor fuentes
$delgada: 300;
$regular: 400;
$negrita: 700;
$extraNegrita: 900;

// Colores Branding
$verdePrimario: #74D7CB;
$verdeSecundario: #4CB8AD;
$blanco: #FFFCF6;
$negro: #2F2F2F;
$gris: #7A7A7A;
$rosa: #E8C5CE;
$amarillo: #FFF1C1;
// Colores mensaje al usuario
$verdeExito: #B6E2C2;
$amarilloAdvertencia: #FFF1C1;
$rojoError: #f47f79;

// Tamaños pantallas
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;