.menu-hamburguesa {
    width: 8rem;
    margin: 0 auto;

    @include tablet {
        display: none;
    }
}

.enlace {
    display: none;
    @include tablet {
        display: flex;
    }
}

.header-nav {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header-nav_enlaces {
    display: none;
    @include tablet {
        display: flex;
        align-items: center;
    }

    a {
        color: $blanco;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        &:hover{
            color: $verdeSecundario;
        }

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;  
        }
    }

}
// Activa el toggle de javascript para mostrar el menú desde el menú hamburguesa
.header-nav_enlaces.activo {
    display: block;
}

.header-nav_enlaces-login{
    @include tablet {
        display: flex;
        flex-direction: column;    
        align-items: flex-end;
        margin-left: 2rem;
    }
    align-items: center;
    gap: 1rem;
}

.header-nav_enlaces-enlace{
    color: $verdePrimario!important;
    border: 2px solid $verdePrimario;
    border-radius: 1rem;
    padding: 1rem 0;
    margin: .75rem 0;

    @include tablet {
        padding: 0 .5rem;
        margin: 0;
    }

    &:hover{
        color: $rosa!important;
        border: 2px solid $rosa;
    }
}